$font-family: 'Lato', sans-serif;
$color-white: #fff;
$text-primary-color: #777;
$icon-color: #e67e22;
$gray: #333;

@mixin normal-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
